<!DOCTYPE html>
<html>
  <head>
<meta charset="utf-8">

    <script src="javascripts/binaryjs-master/dist/binary.js"></script>

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcomeefewfergreghwsr to <%= title %></p>
    
    <p>Click Allow, then press R for recording, once done, press S to stop and grab the WAV file.</p>
    <p id="output"></p>
    <script src="javascripts/micRec.js"></script>

  </body>
</html>
